<% if(typeof errors != "undefined") {%>
  <% errors.forEach(function(error){%>
  
    <div class="notification" style="background-color: gray;">
  <%=error.msg %>
</div>
 <% });%>
<% } %>

<% if(success_msg != "") {%>
<div class="notification" style="background-color: green;">
  <%= success_msg %>
</div>
<% } %>

<% if(error_msg != "") {%>
<div class="notification" style="background-color: red;">
  <%= error_msg %>
</div>
<% } %>

<% if(error != "") {%>
  <div class="notification" style="background-color: gray;">
  <%= error %>
</div>
<% } %> 