<div class="navigation-container" id="top-navigation">
    <a href="/app/frontpage">
        <img src="/app/images/home-icon.png" alt="home-icon" class="navigation-icon">
    </a>
    <a href="/app/chat">
        <img src="/app/images/list-icon.png" alt="chat-icon" class="navigation-icon">
    </a>
    <a href="/app/users/logout">
        <img src="/app/images/logout-icon.png" alt="logout-icon" class="navigation-icon">
    </a>
</div>