<div class="navigation-container" id="top-navigation">
    <a href="/frontpage">
        <img src="/images/home-icon.png" alt="home-icon" class="navigation-icon">
    </a>
    <a href="/chat">
        <img src="/images/list-icon.png" alt="chat-icon" class="navigation-icon">
    </a>
    <a href="/users/logout">
        <img src="/images/logout-icon.png" alt="logout-icon" class="navigation-icon">
    </a>
</div>