

<div id="Header"></div>
<div id="main">
<div class="saleBoard"><img src="/images/funny-dog-one.jpg" alt="dog"><h1>asdsadas</h1></div>

</div>

<script type="text/javascript" src="/js/index.js"></script>