<div class="hide modal" id="image-modal">
  <a href="#" class="close">Close</a>
  <div id="modalDiv">
    <img src="" alt="">
  </div>
</div>
<div id="chatStart">
  <h1 id="chatHeader">Type your message into textfield if you are interested</h1>
</div>
<div id="Header">
  <img src="/public/images/shopfast-logo-full.png" alt="logo">
  <h1>SHOP FAST</h1>
  <div id="formContainer">
    <form
      id="filterForm"
      action="/data/pic"
      method="get"
      class="light-border"
    >
    <input
    class="light-border"
    type="text"
    name="location"
    placeholder="location"
    required />
    <button class="light-border" type="submit" id="filterButton">Filter</button>
    </form>
  </div>
</div>
<div id="siteContainer">
  <div id="main"></div>

  <div id="sidebar">
  <div id="formContainer">
    <h2>Add your product for sale</h2>
    <form
      id="fileCatcher"
      action="/data"
      method="post"
      enctype="multipart/form-data"
      id="add-data-form"
      class="light-border"
    >
      <input
        class="light-border"
        type="text"
        name="name"
        placeholder="Name"
        required
      />
      <select id="price_flex" name="price_flex">
        <option value="Neuvoteltavissa">Neuvoteltavissa</option>
        <option value="Ei Neuvoteltavissa">Ei Neuvoteltavissa</option>
      </select>
     
      <input
        class="light-border"
        type="text"
        name="price"
        placeholder="Price"
        required
      />
      <input
        class="light-border"
        type="text"
        name="description"
        placeholder="Description"
        required
      />
      <input
        class="light-border"
        type="text"
        name="location"
        placeholder="Location"
        required
      />
      <input
        class="light-border"
        type="file"
        name="url[]"
        id="fileUpload"
        accept="image/*"
        placeholder="Choose file"
        multiple=""
      />
      <button class="light-border" type="submit" id="saveButton">Save</button>
    </form>
  </div>
</div>
</div>
<script type="text/javascript" src="/js/index.js"></script>
