<div style="color: white; text-align: center; background-color: #183473;max-width: 1200px;margin: auto; padding: 5%; margin-top: 5%;" >
    <div>
      <div>
        <h1><i></i>  Login</h1>
        <%- include ('./partials/messages') %>
        <form action="/users/login" method="POST">
          <div>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button id="saveButton" type="submit" style="width: auto;">Login</button>
        </form>
        <p >
          No Account? <a style="color: white;" href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>