<%- include ('./partials/navigation') %>
<link rel="stylesheet" type="text/css" href="/css/chat.css">

<div class="flex-container">
  <div class="users-window" id="users-display-window">
    <div class="user">
      <div class="user-text" id="username-text">
        username
      </div>
      <div class="user-text" style="font-size: 19px;" id="user-info">
        last message was this and this and it said things about our society
      </div>
    </div>
  </div>
  <div class="chat-window">
    <div class="chat-footer">
      <div class="user-text" id="username-text">
        username
      </div>
      <div class="user-text" style="font-size: 19px;" id="user-info">
        last seen or some other shit here
      </div>
    </div>

    <div class="chat-body" id="chat-body">
      <div class="message-container user-message">
        <div class="message"> hello</div>
      </div>
      <div class="message-container otheruser-message">
        <div class="message"> hello to you</div>
      </div>
      <div class="message-container otheruser-message">
        <div class="message"> hello to you</div>
      </div>
      <div class="message-container otheruser-message">
        <div class="message"> hello to you</div>
      </div>
    </div>

    <div class="chat-footer">
      <input class="chat-messagebox" type="text" id="message-field">
      <button id="send-button" onclick="sendMessage(event)">
        <h1>Send</h1>
      </button>
    </div>
  </div>
</div>

<script>
const myID = <%- id %>
const myName = "<%- name %>"
const messages =  <%- messages %>
</script>
<script src="/JS/chat.js"></script>