<h1 class="mt-4">Messages</h1>
<p class="lead mb-3">Welcome </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<link rel="stylesheet" type="text/css"   href="/css/chat.css">
<script>
  const myID = <%- id %>
  const messages =  <%- messages %>
  let conversationIDs = []
  for (let i = 0; i < messages.length; i++) {
    if (conversationIDs.indexOf(messages[i].user_id) === -1 && messages[i].user_id != myID) {
      
      conversationIDs.push(messages[i].user_id)
    }
  }

 console.log(conversationIDs)

</script>
<div class="flex-container">
    <div class="users-window">
      <div class="user">
        <div class="user-text">
            username
        </div>
        <div class="user-text" style="font-size: 19px;">
          last message was this and this and it said things about our society
        </div>
      </div>

    </div>
    <div class="chat-window">
      <div class="chat-footer">
        <div class="user-text">
          username
      </div>
        <div class="user-text" style="font-size: 19px;">
          last seen or some other shit here
        </div>
      </div>

      <div class="chat-body">
        <div class="message-container user-message">
          <div class="message">  hello</div>
        </div>
        <div class="message-container otheruser-message">
          <div class="message"> hello to you</div>
        </div>
        <div class="message-container otheruser-message">
          <div class="message"> hello to you</div>
        </div>
        <div class="message-container otheruser-message">
          <div class="message"> hello to you</div>
        </div>
      </div>

      <div class="chat-footer">
        <input class="chat-messagebox" type="text" >
        <button><h1>Send</h1></button>
      </div>
    </div>
  </div>
  <script src="/JS/chat.js"></script>

