<h1 class="mt-4">Messages</h1>
<p class="lead mb-3">Welcome <%= email %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<link rel="stylesheet" type="text/css"   href="/css/chat.css">

<div class="flex-container">
    <div>1</div>
    <div>2</div>
  </div>


