
<div style="text-align: center; background-color: #183473;max-width: 1200px;margin: auto; padding: 5%; margin-top: 5%;" >
    <h1 style="color: white;"><i>Welcome to </i></h1><img src="/images/shopfast-logo-full.png" alt="logo" id="logo">
    <p>
        <a style="color: white;" href="/app/users/register">Register</a>
        <a style="color: white;" href="/app/users/login">Login</a>
    </p>
</div>
