.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #183473;
    justify-content: center;
    margin-left: 15%;
    min-width: 55%;
    margin-right: 30%;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 1%;
    line-height: 30px;
    font-size: 15px;
  }

  .chat-window {
    background-color: #f1f1f1;
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .users-window{
    background-color: #42bd50;;
    height: 80vh;
    width: 25%;
    overflow: auto;
    overflow-x: hidden;
  }
  .user{
    background-color: #42bd50;
    height: 11%;
    overflow: hidden;
    border-bottom-style: solid;
  }

  .user-text{
    line-height: 10px;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: 3%;
    font-size: 153%;
    pointer-events: none;
  }

  .chat-body {
    flex-grow: 1;
    padding: 20px 10px;
    overflow: auto;
  }

  .chat-footer{
    background-color: #42bd50;;
  }

  .chat-messagebox{
    width: 83% !important; 
  }

  .message{
    background-color: #42bd50;;
    width: max-content;
    border-radius: 14px 14px 0px 14px;
    min-width: 23%;
    padding: 1%;
  }

  .other-message{
    border-radius: 14px 14px 14px 0px;
  }

  .otheruser-message{

    justify-content: start;
  }

  .user-message{
    justify-content: flex-end;
  }

  .message-container{
    display: flex;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 1550px){

  }

  @media only screen and (max-width: 900px){

    .flex-container {
      width: 100%;
      margin-left: 0;
    }
  }