body{
    margin: 0;
    height: auto;
    min-height: 100%
}
#container{
  min-height: 100vh;
  margin: 0;
}
#siteContainer{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  min-height: 100vh;
  
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: gray;
    min-width: 55%;
    max-width: 55%;
    margin-left: 20%;
    margin-right: 0%;
    min-height: 100vh;
    
}
#Header{
    
    margin-left: 20%;
    min-width: 55%;
    margin-right: 25%;
    background-color: blue;
}
#sidebar{
  background-color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-left: 0;
  margin-right: 9%;
  min-height: 100vh;
  width: 15%;
}
#formContainer{
  border-bottom: solid;
  border-color: black;
}
.saleBoard{
    display: grid;
    background: white;
    width: 30%;
    margin-top: 4%;
    position: relative;
}
img{
    width: 100%;
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 5%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  h2{
    margin: 0;
    margin-left: 1%;
  }
  h1 {
    margin: 0;
  }

  /*image slide*/

  #minusSlide, #plusSlide{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 4vh;
  transition: 1.5s ease;
  border: 0;
  user-select: none;
  background-color: rgba(0,0,0,.0);
  }

  #minusSlide:hover, #plusSlide:hover{
    background-color: rgba(0,0,0,.4);
  }

  #plusSlide{
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  .hide {
    display: none !important;
}

.modal {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 25vh;
  background-color: rgba(0,0,0,.5);
  
}


.modal img {
  display: block;
  width: 40%;
  margin: auto;
}

.close {
  
  top: 1em;
  right: 1em;
  color: #fff;
  text-shadow: #000;
  font-size: 2em;
}

#chatHeader{
  text-align: center;
}

#chatStart{
  display: none;
  background-color: grey;
  margin-top: 2vh;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 50vh;
}
  @media only screen and (max-width: 1550px){
    #sidebar{
      margin-right: 4%;
      width: 26%;
    }
    #main{
      margin-left: 15%;
    }
    #Header{
      margin-right: 30%;
      margin-left: 15%;
      width: 55%;
    }
  }

  @media only screen and (max-width: 900px){
    #siteContainer{
      flex-direction: column-reverse;
    }

    #main{
      flex-direction: column;
      max-width: 60%;
      margin-left: 20%;
    }
    .saleBoard{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    #sidebar{
      margin-right: 20%;
      margin-left: 20%;
      width: 60%;
      min-height: 10vh;
      border-left: none;
      border-right: none;
    }
    #Header{
      margin-right: 20%;
      margin-left: 20%;
      width: 60%;
    }
  }
